<md-content>
  <div layout-gt-sm="row">
    <md-card layout flex="100">
    <md-card-content  layout-gt-sm="column" flex="100">



      <form name="clienteForm" method="POST">


        <div layout-gt-sm="row" >

            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome Fantasia {{logado}}</label>
              <input ng-model="cliente.nomeFantasia">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Razão Social</label>
              <input ng-model="cliente.razaoSocial">
            </md-input-container>

        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>CNPJ</label>
            <input ng-model="cliente.cnpj"  placeholder="00.000.000/0000-00" maxlenght="18">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Insc. Estadual</label>
            <input ng-model="cliente.inscEstadual">
          </md-input-container>

        </div>     


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Endereço</label>
            <input ng-model="cliente.endereco">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Bairro</label>
            <input ng-model="cliente.bairro">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
            <input ng-model="cliente.cidade"> 
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
            <input ng-model="cliente.cep">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <input ng-model="cliente.uf">
          </md-input-container>
        </div> 

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone Fixo</label>
            <input ng-model="cliente.telefoneFixo" placeholder="00 0000-0000">
          </md-input-container>          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Cadastro</label>
            <input type="date" ng-model="cliente.dataCadastro">
          </md-input-container>
        </div>         

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Observação</label>
            <input ng-model="cliente.observacao">
          </md-input-container>

          <md-input-container class="md-block" flex="5" ng-show="mostrarBtnCad">
              <md-icon md-svg-icon="icon_add" ng-click="cadastraCliente()"></md-icon>
          </md-input-container>    
          <md-input-container class="md-block" flex="5" ng-show="mostrarBtnEdit">
            <md-button class="md-raised md-primary" ng-click="editaCliente(cliente.dataCadastro)">Editar</md-button>
          </md-input-container>    


        </div>           

      </form> 

           </md-card-content>
          </md-card>      
  </div>


        <div layout-gt-sm="column">
          <md-card layout flex="100"  ng-repeat="cli in clientes.data">
          <md-card-content  layout-sm="column" flex="100" ng-click="listarUm(cli.id)">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          {{cli.nome_fantasia}}
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          {{cli.cnpj}}
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          {{cli.cidade}}
                        </md-input-container>

                        <md-input-container class="md-block" flex="5">
                              <md-button  flex="5" class="md-raised md-warn" ng-click="deletaCliente(cli.id)">X</md-button>
                        <md-chips>
                          <button md-chip-remove>
                            <md-icon md-svg-icon="md-close"></md-icon>
                          </button>
                        </md-chips>                              
                        </md-input-container>                                          

                    </div>        
    

          </md-card-content>
          </md-card>
        </div>   


</md-content>