<md-content>
  <div layout-gt-sm="row">
    <md-card layout flex="100">
    <md-card-content  layout-gt-sm="column" flex="100">



      <form name="clienteForm">


        <div layout-gt-sm="row" >

            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome Fantasia</label>
              <input ng-model="nomeFantasia">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Razão Social</label>
              <input ng-model="razaoSocial">
            </md-input-container>

        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>CNPJ</label>
            <input ng-model="cnpj">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Insc. Estadual</label>
            <input ng-model="inscEstadual">
          </md-input-container>

        </div>     


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Endereço</label>
            <input ng-model="endereco">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Bairro</label>
            <input ng-model="bairro">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
            <input ng-model="cidade"> 
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
            <input ng-model="cep">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <input ng-model="uf">
          </md-input-container>
        </div> 

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Cadastro</label>
            <input ng-model="dataCadastro">
          </md-input-container>
        </div>         

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Observação</label>
            <input ng-model="observacao">
          </md-input-container>
        </div>           

      </form> 

           </md-card-content>
          </md-card>      
  </div>


        <div layout-gt-sm="row">
          <md-card layout flex="100">
          <md-card-content  layout-gt-sm="column" flex="100">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Nescau
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          3
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          5,00
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          15,00
                        </md-input-container>      
                        <md-input-container class="md-block" flex="5">
                            X
                        </md-input-container>                                          
                    </div>        

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-divider></md-divider>
                        </md-input-container> 
                    </div>    



                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Toddy
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          2
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          4,00
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          8,00
                        </md-input-container>      
                        <md-input-container class="md-block" flex="5">
                            X
                        </md-input-container>                                          
                    </div>   

          </md-card-content>
          </md-card>
        </div>  
</md-content>