<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>SisDis - Sistema para Distribuidoras</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>


<!-- dependências -->
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	  <script type="text/javascript" src="../bower_components/moment/src/moment.min.js"></script>


<!-- module -->
    <script src="myApp.js"></script>

<!-- controllers -->    
    <script src="src/main_controller.js"></script>
    <script src="src/login/login_controller.js"></script>    
    <script src="src/home/home_controller.js"></script>
    <script src="src/cliente/cliente_controller.js"></script>
    <script src="src/vendedor/vendedor_controller.js"></script>
    <script src="src/produto/produto_controller.js"></script>
    <script src="src/relatorio/relatorio_controller.js"></script>
    <script src="src/pedido/pedido_controller.js"></script>    




  </head>

  <body ng-app="myApp" layout="column" ng-cloak  ng-controller="mainController">

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">MENU</h1>
        </md-toolbar>

        <md-content layout-margin>
          <md-list>
            <md-list-item ng-repeat="linha in menu">
              <md-button ng-href="{{linha.link}}" ng-click="toggleLeft()">
                <div align="left"> {{linha.item}} </div>
              </md-button>
            </md-list-item>
          </md-list>
          <md-button ng-click="toggleLeft()" class="md-accent">
            Fechar
          </md-button>
        </md-content>

  </md-sidenav>

  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="toggleLeft()"
               aria-label="Show User List">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Painel de Gerenciamento - <b>{{tituloPagina}}</h1>
  </md-toolbar>


  <div layout="row" flex="100">


    <md-sidenav flex="20" class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">
          <md-list>
            <md-list-item ng-repeat="linha in menu">
              <md-button ng-href="{{linha.link}}">
                <md-icon md-svg-icon="{{linha.avatar}}" class="avatar"></md-icon>
                {{linha.item}}
              </md-button>
            </md-list-item>
          </md-list>
      </md-sidenav>


     <div flex="100" layout-padding ui-view>
     </div>
  </div>

 
  </body>
</html>
