<md-content>
  <div layout-gt-sm="row">
    <md-card layout flex="100">
    <md-card-content  layout-gt-sm="column" flex="100">
      <form name="produtoForm">

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Produto</label>
            <input ng-model="produto">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Marca</label>
            <input ng-model="marca">
          </md-input-container>


          <md-input-container class="md-block" flex-gt-sm>
            <label>Valor padrão</label>
            <input ng-model="valor">
          </md-input-container>

          <md-input-container class="md-block" flex="5">
              <md-icon md-svg-icon="icon_add" ng-click="teste()"></md-icon>
          </md-input-container>    

        </div>

      </form>
     </md-card-content>
    </md-card>      
  </div>

        <div layout-gt-sm="row">
          <md-card layout flex="100">
          <md-card-content  layout-gt-sm="column" flex="100">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Nescau
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Nestlê
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          5,00
                        </md-input-container>

                        <md-input-container class="md-block" flex="5">
                            X
                        </md-input-container>                                          
                    </div>        

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-divider></md-divider>
                        </md-input-container> 
                    </div>    

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Toddy
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Pepsico
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          4,00
                        </md-input-container>

                        <md-input-container class="md-block" flex="5">
                            X
                        </md-input-container>                                          
                    </div>   

          </md-card-content>
          </md-card>
        </div>  
</md-content>