<md-content>
  <div layout-gt-sm="row">
    <md-card layout flex="100">
    <md-card-content  layout-gt-sm="column" flex="100">
      <form name="produtoForm" method="POST">

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Produto</label>
            <input ng-model="produto.nome">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>

            <label>Marca</label>

            <md-select ng-model="produto.marca">
              <md-option ng-repeat="mca in marcas.data" ng-value="mca.id_marca"  >
                {{mca.nome_marca}}
              </md-option>
            </md-select>       

          </md-input-container>


          <md-input-container class="md-block" flex-gt-sm>
            <label>Valor padrão</label>
            <input ng-model="produto.valor">
          </md-input-container>

          <md-input-container class="md-block" flex="5"  ng-show="mostrarBtnCad">
              <md-icon md-svg-icon="icon_add" ng-click="cadastraProduto()"></md-icon>
          </md-input-container>    
          <md-input-container class="md-block" flex="5" ng-show="mostrarBtnEdit">
            <md-button class="md-raised md-primary" ng-click="editaProduto(cliente.dataCadastro)">Editar</md-button>
          </md-input-container>             

        </div>

      </form>
     </md-card-content>
    </md-card>      
  </div>

        <div layout-gt-sm="column">
          <md-card layout flex="100"  ng-repeat="prod in produtos.data">
          <md-card-content  layout-sm="column" flex="100" ng-click="listarUm(prod.id_produto)">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          {{prod.nome_produto}}
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          {{prod.nome_marca}}
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          {{prod.valor_produto}}
                        </md-input-container>

                        <md-input-container class="md-block" flex="5">
                              <md-button  flex="5" class="md-raised md-warn" 
                              ng-click="deletaProduto(prod.id_produto)">X</md-button>
                        <md-chips>
                          <button md-chip-remove>
                            <md-icon md-svg-icon="md-close"></md-icon>
                          </button>
                        </md-chips>                              
                        </md-input-container>                                          

                    </div>        
    

          </md-card-content>
          </md-card>
        </div>  

</md-content>
