<md-content>
  <div layout-gt-sm="row">
    <md-card layout flex="100">
    <md-card-content  layout-gt-sm="column" flex="100">
      <form name="relatorioForm">

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Cliente</label>
            <input ng-model="cliente">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Produto</label>
            <input ng-model="produto">
          </md-input-container>


          <md-input-container class="md-block" flex-gt-sm>
            <label>Período do pedido</label>
            <input ng-model="nomeFantasia">
          </md-input-container>

        </div>

      </form>

     </md-card-content>
    </md-card>      
  </div>


        <div layout-gt-sm="row">
          <md-card layout flex="100">
          <md-card-content  layout-gt-sm="column" flex="100">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Nro. 01245
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Cliente XYZ
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Vendedor
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Data Pedido
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          120,00
                        </md-input-container>

                        <md-input-container class="md-block" flex="5">
                            Ver
                        </md-input-container>                                          
                    </div>        

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-divider></md-divider>
                        </md-input-container> 
                    </div>    



                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Nro. 01245
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Cliente XYZ
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Vendedor
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          Data Pedido
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          120,00
                        </md-input-container>

                        <md-input-container class="md-block" flex="5">
                            Ver
                        </md-input-container>                                          
                    </div>   

          </md-card-content>
          </md-card>
        </div>  


</md-content>