<md-content>
  <div layout-gt-sm="row">
    <md-card layout flex="100">
    <md-card-content  layout-gt-sm="column" flex="100">

      <form name="vendedorForm">

        <div layout-gt-sm="row" >
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nome</label>
            <input ng-model="nome">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Sobrenome</label>
            <input ng-model="sobrenome">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone Fixo</label>
            <input ng-model="telefoneFixo">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone Celular</label>
            <input ng-model="telefoneCelular">
          </md-input-container>
        </div>         

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>RG</label>
            <input ng-model="rg">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>CPF</label>
            <input ng-model="cpf">
          </md-input-container>
        </div>     

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Endereço</label>
            <input ng-model="endereco">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Bairro</label>
            <input ng-model="bairro">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
            <input ng-model="cidade"> 
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
            <input ng-model="cep">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <input ng-model="uf">
          </md-input-container>
        </div>       

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Cadastro</label>
            <input ng-model="dataCadastro">
          </md-input-container>
        </div>         

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Observação</label>
            <input ng-model="observacao">
          </md-input-container>
        </div>  



      </form>
    </md-card-content>
    </md-card>
  </div>  


        <div layout-gt-sm="row">
          <md-card layout flex="100">
          <md-card-content  layout-gt-sm="column" flex="100">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          João
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          Silva da Silva
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          Gravataí
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          51 9 9666-4444
                        </md-input-container>      
                        <md-input-container class="md-block" flex="5">
                            Editar
                        </md-input-container>                                          
                    </div>        

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <md-divider></md-divider>
                        </md-input-container> 
                    </div>    



                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          Maria
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          da Graça
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                          Canoas
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                          51 9 8888-7541
                        </md-input-container>      
                        <md-input-container class="md-block" flex="5">
                            Editar
                        </md-input-container>                                          
                    </div>   

          </md-card-content>
          </md-card>
        </div>  


</md-content>